{% extends "base.html" %}

{% block content %}
    <h1>Carrito de Compras</h1>
    <ul>
        {% for item in cart_items %}
            <li>
                {{ item.name }} - ${{ item.price }}
                <form action="{{ url_for('remove_from_cart', plan_id=item.id) }}" method="post">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ total }}</p>
    <form action="{{ url_for('checkout') }}" method="post">
        <button type="submit">Proceder al Pago</button>
    </form>
{% endblock %}